/*================ 
PC、スマホ共通スタイル
================ */

/* ボディ部の余白を無くす */
html{
  box-sizing: border-box;  
}

body {
  padding: 0px;
    margin: 0px;
}

/* 名前 */
.name {
  font-size: 18px;
  text-align: left;
  font-weight: bold;
  padding: 0px;
  margin-bottom:5px;
}

h2 {
  text-align: center;
  font-size: 34px;
  margin: 0px;
  padding: 0px;
}

h2 span {
  display: inline-block;
  padding: 0px;
  margin: 0px;
  border-bottom: 1px solid black;
}

h3 {
padding-top:10px;
padding-bottom: 10px;
margin:0px;
text-align: center;
font-size: 18px;
}

p {
font-size: 16px;
padding-bottom: 10px;
}

/* divの 不要な空白を削除 */
div {
  font-size: 0;
}

/* メイン画像 */


/* ヘッダー */

 /* ナビ部分 */
nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items:center;
}

/* 加筆部分 */
nav ul {
  display: flex;
  justify-content: space-between;
} 

nav li {
  list-style: none;
}

nav ul a {
color:black;
margin: 0px 15px 0px 15px;
padding: 0px 0px;
text-decoration: none;
}

.carousel {
  overflow: hidden;
}

h1 a{
  background-color: black;
  color:#ffffff;
  margin: 0px;
  padding: 5px 20px;
  font-size: 24px;
  text-decoration: none;
}

/* メイン画像 */
.mainvisual {
  width: 100%;
  max-height: 600px;
  object-fit:cover;
  overflow: hidden;
}

/* About */
.about {
  display: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin: 80px auto 108px auto;
}

/* 丸く切り取る画像 */
.circle {
  border-radius: 30%;
  border: solid 1px;
  width: 100px;
  height: 100px;
  object-fit: cover;
  padding: 3px;
  margin:0px 10px;
}

/* プロフィールの説明部分 */
.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 70px 20px 108px 20px;
  padding: 0px;
}

.content2 {
  margin: 0px;
  padding: 5px;
}

/* bicyle */
.bicyle {
  margin: 10px 50px;
}

.bicycle-content{
  display:flex;
  justify-content: center;
  padding: 0px;
  margin: 50px auto;
}

/* bicycleの画像と説明部分 */
.item {
  width: calc(100% /3);
  padding:0px 50px;
  text-align: center;
}

.item > img {
  width: 100%;
  height: 223px;
}

.content3 {
  margin: 0px;
}

/* フッター */
footer {
  text-align: center;
  padding: 0px;
  margin: 0px;
}

/*================
SP用のスタイル
=================*/

/* 横幅が767pxまでの場合 */
@media (max-width: 600px) {

nav {
  margin: 0px 10px;
}

h1 {
  padding: 0;
  margin-left:10px ;
}

h2 {
  font-size: 25px;
}

h3{
  font-size: 18px;
}
p {
  font-size: 14px;  
}

.about {
  margin: 80px 20px;
}

/* bicyle */
.bicyle {
  margin-left:20px;
  margin-right:20px;
}
.bicycle-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px;
  margin: 50px 0px;
}

.item {
  padding:60px 0px;
  width: 100%;
  text-align: center;
}
  }