/*================ 
PC、スマホ共通スタイル
================ */

/* html {
  color: #000000;
  background-color: #ffffff;
} */

/* 加筆部分 各タグ設定 */
/* ボディ部の余白を無くす */
body {
  padding: 0px;
    margin: 0px;
}

/* 名前 */
.name {
  font-size: 24px;
  font-weight: bold;
}


h1 {
  padding-top: 60px;
  padding-bottom: 40px;
  text-align: center;
  font-size: 34px;
  font-family: "Noto Sans JP", sans-serif;
}

p {
font-size: 18px;
font-family: "Noto Sans JP", sans-serif;
}

li {
  font-size: 18px;
  font-family: "Noto Sans JP", sans-serif;  
}

/* divの 不要な空白を削除 */
div {
  font-size: 0;
}

/* メイン画像 */
.mainpic {
  width: 100%;
}

img {
  margin: 0 auto;
  max-width: 100%;
}

/* ヘッダー */

 /* ナビ部分 */
 nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px auto 20px auto;
  max-width: 960px;
}

/* 加筆部分 */
nav a {
  font-weight: bold;
  text-decoration: none;
  font-size: 34px;
  color: black;
  font-family: "Noto Sans JP", sans-serif;
}

/* 加筆部分 ナビゲーションメニューのMyProfileの部分*/
.home {
  border: 1px solid black;
  padding: 0px 20px;
  margin-left: 20px;
}

/* メニューの余白 */
.menu > a {
  margin-left: 20px;
  margin-right: 20px;
}
 

 /* ナビゲーションのリンクの装飾設定  */ 
/* #nav-pc > a {
  text-decoration: none;
  margin-left: 20px;
  margin-right: 20px;
} */

/* #nav-pc > a:link { 未訪問のリンク
  color: #000000;
} */

/* #nav-pc > a:visited {  未訪済のリンク 
  color: #000000;} */

/* #nav-pc > a:hover {  未訪問のリンク 
  color: #000000;
} */

/* #nav-pc > a:active {  アクティブ 
  color: #000000;
} */

/* #block {
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black; ;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 0px;
}  */

/* セクション部 */
/* About */

/* 見出し
h2{
  font-size: 34px;  
  text-align: center;
} */

 /* 名前
h3{
  font-size: 24px;
}

 /* 文章 */
/* p,li{
font-size: 18px;
} */ 

/* メイン画像 */
.mainpic {
  width: 100%;
}

img {
  margin: 0 auto;
  max-width: 100%;
}

/* About */
.about {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 20px auto 20px auto;
  max-width: 960px;
}

/* 丸く切り取る画像 */
.circle {
  border-radius: 50%;
  width: 280px;
  height: 280px;
  object-fit: cover;
  border: 3px solid #999;
  padding: 3px;
}

/* プロフィールの説明部分 */
.content {
  margin: 0 auto;
  padding-left: 40px;
}

/* Works */
.works {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px auto 20px auto;
  max-width: 960px;
}

/* Worksの画像と説明部分 */
.item {
  padding-bottom: 60px;
  width: 25%;
}

/* Worksの画像と説明部分（2個目） */
.item_center {
  padding-right: 20px;
  padding-left: 20px;
}

/* フッター */

footer {
  text-align: center;
  padding-bottom: 20px;
  font-family: "Noto Sans JP", sans-serif;
}

/* 横幅が767pxまでの場合 */
@media (max-width: 767px) {
  .item {
      width: 100%;
      text-align: center;
      padding-bottom: 40px;
  }
}


/* ID設定 */
/* #main-visual{
  width: 100%;
max-width:100%;
    padding: 0;
    margin: 0;
} */


/*================
PC用のスタイル
=================*/
 
 /* 横幅設定 */
/* @media screen and (min-width: 768px) { */

/* body { */
/* max-width: 1200px; */
/* min-width: 768px; */
/* margin: 0 0 0 0px; */
  /* }  */

/* .flexbox-container {
display: flex;
} */

/* #about {
  display: flex;
  }

#Works {
  margin: 0 auto;
  display: flex;
  justify-content:center;
  }

.works-layout{
  width:33%;
  } */

/* #works-photo{
  width: 33%;
} */

/* } */